body {
  background: rgb(2,24,89);
  background: linear-gradient(0deg, rgba(2,24,89,1) 0%, rgba(4,66,191,1) 100%);
  margin: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.titles {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  margin-left: 10%;
  margin-bottom: 5%;
}

.footer {
  background-color: rgb(255, 0, 0);
  color: white;
}

.hello {
  color: white;
}

.hello:hover {
  color: #f25c05;
}

.big-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  padding: 20%;
  background-color: rgba(255, 255, 255, 0.1);
  color: azure;
  font-size: 30px;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.1);
}

.first-line {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.second-line {
  color: white;
  font-size: 100rem;
}

.bio{
  color: rgb(255, 240, 240);
  padding: 5%;
  font-size: 1rem;
  border-color: brown;
  border: 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100%;
}

.header-content {
  display: flex;
  gap: 15px;
}

.footer {
  background: none;
}
.equal-height-cards {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  flex: 1;
}
